<div class="container-fluid">
  <div class="row justify-content-center" style="margin-top: 40px">
    <div class="col-8">
      <div class="jumbotron">
        <h3>Reactive Form Custom Valdiation</h3>
        <!-- {{ showForm() }} -->

        <div>
          <!-- registration form starts here -->
          <form [formGroup]="form">
            <div class="form-group">
              <label for="usernameInput">User Name</label>
              <input
                formControlName="username"
                type="text"
                class="form-control"
                id="usernameInput"
                placeholder="Enter username"
              />

              <span *ngIf="form.touched">
                <i
                  class="fa fa-check-circle"
                  style="color: green"
                  *ngIf="form.controls.username.valid"
                ></i>
                <i
                  class="fa fa-times-circle"
                  style="color: firebrick"
                  *ngIf="form.controls.username.invalid"
                ></i>
                Username should be minimum 4 characters long.
              </span>
            </div>

            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="passwordInput"
                placeholder="Enter Password"
              />
            </div>

            <div class="form-group">
              <label for="confpasswordInput">Confirm Password</label>
              <input
                formControlName="cnfpass"
                type="password"
                class="form-control"
                id="confpasswordInput"
                placeholder="Re-enter Password"
              />
              <span *ngIf="form.touched">
                <i
                  class="fa fa-check-circle"
                  style="color: green"
                  *ngIf="form.controls.cnfpass.valid"
                ></i>
                <i
                  class="fa fa-times-circle"
                  style="color: firebrick"
                  *ngIf="form.controls.cnfpass.invalid"
                ></i>
                Password and confirm password should match.
              </span>
            </div>

            <div class="form-group">
              <label for="zipcodeinput">Zip Code</label>
              <input
                formControlName="zip"
                type="text"
                class="form-control"
                id="zipcodeinput"
                placeholder="Enter Zip Code"
              />

              <span *ngIf="form.touched">
                <i
                  class="fa fa-check-circle"
                  style="color: green"
                  *ngIf="form.controls.zip.valid"
                ></i>
                <i
                  class="fa fa-times-circle"
                  style="color: firebrick"
                  *ngIf="form.controls.zip.invalid"
                ></i>
                Zip code should be 6 digit number only.
              </span>
            </div>

            <br /><br />
            <hr />
            <!-- =========formArray start=========== -->
            <div class="formarray-wrapper" formArrayName="address">
              <div
                class="form-group"
                *ngFor="let group of addressArray.controls; index as i"
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="col-10">
                    <h4>Address {{ i + 1 }}</h4>
                  </div>
                  <div class="col-2 control-buttons">
                    <img
                      src="/assets/icons/add.svg"
                      alt=""
                      (click)="addAddress()"
                    />
                    <img
                      src="/assets/icons/remove.svg"
                      alt=""
                      width="24"
                      height="24"
                      (click)="removeAddress(i)"
                    />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-6">
                    <label for="state">State</label>
                    <select
                      id="inputState"
                      formControlName="state"
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid':
                          group.controls.state.invalid &&
                          group.controls.state.touched,
                        'is-valid': group.controls.state.valid
                      }"
                      (ngModelChange)="
                        onStateChange(group.controls.state.value)
                      "
                    >
                      <option selected [ngValue]="null">Choose...</option>
                      <option
                        *ngFor="let item of statesData"
                        [value]="item.state"
                      >
                        {{ item.state }}
                      </option>
                    </select>
                    <small
                      *ngIf="
                        group.controls.state.invalid &&
                        group.controls.state.touched
                      "
                      class="form-text custom-invalid-feedback"
                      >Field is required</small
                    >
                  </div>
                  <!-- ============== -->
                  <div class="col-6">
                    <label for="inputCity"
                      >Cities
                      <small>(you can choose multiple cities)</small></label
                    >
                    <select
                      id="inputCity"
                      formControlName="city"
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid':
                          group.controls.city.invalid &&
                          group.controls.city.touched,
                        'is-valid': group.controls.city.valid
                      }"
                      #multipleCity
                      [multiple]="group.controls.state.value !== null"
                    >
                      <option selected [ngValue]="null">Choose...</option>
                      <option *ngFor="let item of cityArr" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                    <small
                      *ngIf="
                        group.controls.city.invalid &&
                        group.controls.city.touched
                      "
                      class="form-text custom-invalid-feedback"
                      >Field is required</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- =========formArray end=========== -->
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">
              Submit
            </button>

            <br /><br />
            <hr />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
