<div #container class="note-card-container">
  <div class="note-card-content">
    <h1 class="note-card-title">Lorem ipsum</h1>
    <div #bodyText class="note-card-body">
      <p>
        Body text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
        hic quos nam fugit cumque, suscipit ab accusamus. Expedita repellat
        aspernatur reprehenderit inventore eligendi nam minus. Blanditiis alias
        quaerat aspernatur delectus.
      </p>
      <div #truncator class="fade-out-truncation"></div>
    </div>
  </div>
  <div class="x-button"></div>
</div>
