<div class="todo-item completed">
  <div class="check-box">
    <i class="material-icons-outlined">check</i>
  </div>
  <p class="todo-text">This is completed</p>
</div>

<div class="todo-item">
  <div class="check-box">
    <i class="material-icons-outlined">check</i>
  </div>
  <p class="todo-text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque enim
    tempora dignissimos accusantium numquam reprehenderit corrupti, possimus
    sequi assumenda dolore nulla iste, adipisci cupiditate natus dolores optio
    et tenetur delectus!
  </p>
</div>
